#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



/* App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: pink;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #6b8e23; /* Olive green */
}

.add-product-btn {
  background-color: #f0e68c; /* Yellow */
  color: #333;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.add-product-btn:hover {
  background-color: #e6e6e6;
}

.product-list {
  list-style-type: none;
  padding: 0;
}

.product-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}

.product-details {
  flex: 1;
}

.product-actions {
  display: flex;
  align-items: center;
}

.product-actions button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #6b8e23; /* Olive green */
  color: black;
  border: none;
  cursor: pointer;
}

.product-actions button:hover {
  background-color: #556b2f; /* Darker olive green */
}
